build
*.hex
*.elf

# KiCad backup files
hardware/*.bak
hardware/*-bak
hardware/*-backups
hardware/*auto_saved_files*
hardware/*autosave*

# LaTeX
documentation/*.pdf
documentation/*.log
documentation/*.out
documentation/*.aux
documentation/*.fls
documentation/*.fdb_latexmk
documentation/*.synctex.gz
